<!DOCTYPE html>
{% load static %}
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tela inicial - UniRoleta</title>
    <link rel="stylesheet" href="{% static 'tela_inicial.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    
  </head>

  <body>
    <div class="body_tela">

    
    

        <div class="retangulo">
          <img class="logoo" src="{% static 'polls/logo.png'%}" alt="" />
          <h3 class="texto_retangulo">Bem-vindo a UniRoleta, clique no jogo da roleta e se divirta!!</h3>
        
          <div class="info">
              <a href="{% url 'lasvegas:rules' %}">Regras</a>
              <a href="{% url 'lasvegas:about' %}">Sobre</a>
          </div>
        </div>

      
        <div>
          <h1 class="text_jogo">Jogos</h1>
        </div>
      
        <div class="tela_roleta">
          <a href="{% url 'lasvegas:roleta' %}">
            <div>
                  <img src="{% static 'polls/roleta_inicial.png'%}" alt='Jogo da roleta' width="100%"/>
                  <p>
                    Uniroleta
                  </p>
            </div>

            </div>
          </a>
        </div>
    
    </div>    
  </body>
</html>




